@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* modified body for aesthetics */
body {
    background-color:peru ;
    background-size: 500% 1000%;
    font-family: 'Roboto Mono', monospace;
    color:black ;
    margin:0px;
}
/* added and configured keys for clicking */
.keys {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-flow: row wrap;
    /*deleted a few things I had no use for*/
}
.keyswrapper {
    padding: 5px;
    border-radius: 10px;
    margin:0.5rem;
       ;
        }
 /* a little polish for the aesthetics */
.key {
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1.3rem .5rem;
    transition:all 0.07s;
    text-align: center;
    color:black;
    background:ivory;
}
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
}
/* added an image(drumkit) */
.bgrimage {
display: flex;
justify-content: center;
}